body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.button-link {
  display: block;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
  border-radius: 3px;
}
.button-link:hover,
.button-link:focus {
  background-color: #ca2c37;
}
.button-link:active {
  background-color: #ba2732;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.main-header,
.inner-header {
  height: 320px;

  background-color: #f4f7f9;
}

.top-menu {
  background-color: #293449;
}

.top-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.top-menu-left {
  display: flex;
  width: 490px;
}

.logo {
  width: 220px;
  height: 45px;
  padding-top: 18px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo img {
  width: 110px;
  height: 18px;
}
.header-logo {
  margin: 0;
  padding: 0;
  padding: 11px 55px;
}
.main-header-logo {
  display: block;
  margin: 0;
  padding: 11px 55px;
}

.top-menu:hover .logo,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.top-menu-right {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-left: auto;
}

.top-menu a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.top-menu-right a {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 150px;
  height: 41px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 44px;
}

.bookmark svg {
  position: absolute;
  top: 13px;
  left: 18px;

  width: 14px;
  height: 16px;

  opacity: 0.3;
}

.bookmark path {
  fill: #ffffff;
}

.shopping-basket {
  background-color: #ee3643;
}

.top-menu-right .cart {
  padding-left: 50px;
}

.cart svg {
  position: absolute;
  top: 13px;
  left: 18px;

  width: 15px;
  height: 15px;

  opacity: 0.3;

  fill: #ffffff;
}

.top-menu-right .checkout {
  height: 42px;
  padding-left: 0;

  text-align: center;

  background-color: #63a63e;
  background-image: url("img/checkout-background.png");
}

.bookmark:hover svg,
.cart:hover svg,
.bookmark:focus svg,
.cart:focus svg {
  opacity: 1;
}

.bookmark:active svg,
.cart:active svg {
  opacity: 0.5;
}

.top-menu-right .checkout:hover,
.top-menu-right .checkout:focus {
  background-color: #5fbb2d;
}

.top-menu-right .checkout:active {
  background-color: #518534;
}

.search input {
  box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding-left: 48px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
  border: none;
}
.search input::-moz-placeholder,
.search input:-moz-placeholder {
  opacity:1;
}
.search input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}
.search input::placeholder,
.search input::-moz-placeholder,
.search input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.top-menu:hover,
.search input:hover {
  background-color: #212a3a;
}

.search input:hover {
  background-image: url(../img/icon-search-hover.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
}

.top-menu p:active:not(.search) {
  background-color: #161d29;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url(../img/icon-search-active.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  height: 155px;
}

.header-info {
  margin: 0;
  margin-top: 49px;
  margin-right: 23px;
  padding-left: 53px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.telephone {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  padding-top: 10px;
  padding-left: 70px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;

  border: 3px solid #ffffff;
}

.telephone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  margin: 0;
  margin-top: -11px;
  padding-left: 9px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.not-authorized {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 300px;
  height: 45px;
  margin: 0;
  margin-top: 45px;
  padding: 0;

  list-style: none;
  font-size: 21px;
  line-height: 21px;
}

.not-authorized li:first-child {
  margin-right: 10px;
}

.not-authorized li {
  background-color: #ffffff;
}

.not-authorized li:hover,
.not-authorized li:focus {
  color: #ee3643;
}

.not-authorized li:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link {
  position: relative;

  display: block;
  box-sizing: border-box;
  padding-top: 13px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 49px;
}

.login-link svg {
  position: absolute;
  top: 14px;
  left: 15px;

  width: 20px;
  height: 17px;
}

.login-link path,
.login-link polygon {
  fill: #c5c5c5;
}

.registration-link {
  position: relative;

  display: block;
  box-sizing: border-box;
  padding-top: 13px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.login-link:hover path,
.login-link:hover polygon {
  fill: #32425c;
}

.login-link:active path,
.login-link:active polygon {
  fill: #c5c5c5;
}

.main-navigation {
  box-sizing: border-box;
  height: 60px;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 60px;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 rgba(41, 52, 73, 1);
}

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding: 0 20px;

  list-style: none;
}

.main-navigation li {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.main-navigation a {
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation li:hover,
.main-navigation li:focus {
  background-color: #293449;
}

.main-navigation li:active,
.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.tools-slider {
  min-height: 412px;
  margin-top: 59px;
}
.tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 409px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.tools-item {
  position: relative;

  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 20px 22px;

  background-repeat: no-repeat;
}

.tools-item p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.tools-item a {
  display: block;
  box-sizing: border-box;
  width: 135px;
  margin: 0;
  padding: 0;
  padding: 11px 22px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.tools-item a:hover,
.tools-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.tools-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.tools-item:first-of-type {
  background-color: #ffbf47;
  background-image: url(../img/tools-item-1.svg);
  background-position: 213px 31px;
}
.tools-item:nth-of-type(2) {
  background-color: #3bbce3;
  background-image: url(../img/tools-item-2.svg);
  background-position: 197px 33px;
}
.tools-item:nth-of-type(3) {
  background-color: #dc91d8;
  background-image: url(../img/tools-item-3.svg);
  background-position: 191px 31px;
}
.item-right:first-child {
  background-color: #8ed78f;
  background-image: url(../img/tools-item-4.svg);
  background-position: 196px 26px;
}
.item-right:last-child {
  background-color: #ffc047;
  background-image: url(../img/tools-item-5.svg);
  background-position: 191px 32px;
}
.tools-item-slider {
  margin: 0;
}
.slider {
  box-sizing: border-box;
  width: 620px;
  height: 266px;
}
.main-slider {
  position: relative;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.product-1:checked ~ .slider {
  background-image: url(../img/slider-1.jpg);
}
.product-2:checked ~ .slider {
  background-image: url(../img/slider-2.jpg);
}
.slide {
  display: none;
}
.slider-controls {
  position: absolute;
  top: 220px;
  left: 50%;

  margin-left: -10px;

  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  vertical-align: top;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.product-1:checked ~ .slider #slide1,
.product-2:checked ~ .slider #slide2 {
  display: block;
}
.product-1:checked ~ .slider label[for="product-1"],
.product-2:checked ~ .slider label[for="product-2"] {
  background-color: #ee3643;
}
.button-slider {
  position: absolute;
  top: 206px;
  left: 26px;

  box-sizing: border-box;
  width: 195px;
  padding: 11px 45px;
}

.slider-photo h3 {
  margin: 0;
  margin-left: 24px;
  padding-top: 24px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}
.slider-photo p {
  margin: 0;
  margin-left: 24px;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.popular-items {
  margin-top: 33px;
}
.popular-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 89px;
  margin: 0;
  padding: 0;

  background-color: #f9f5f0;
}
.popular-wrapper h3 {
  margin-left: 24px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
.popular-wrapper .button-popular-items {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: 253px;
  height: 38px;
  margin: 25px 24px;
  padding: 12px 53px;

  text-align: center;
}
.popular-list .catalog-item {
  margin-right: 20px;
  margin-left: 0;

  font-family: "PT Sans",Arial,sans-serif;
}
.popular-list .catalog-item:nth-child(4n) {
  margin-right: 0;
}
.popular-manufacturers {
  margin: 20px 0;
}
.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}
.manufacturers-item {
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  margin-right: 20px;

  border: 1px solid #eaeaea;
}
.manufacturers-item:nth-child(4n) {
  margin-right: 0;
}
.manufacturers-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}
.manufacturers-item:hover,
.manufacturers-item:focus {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.manufacturers-item:active {
  border: none;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.manufacturers-item p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.services {
  box-sizing: border-box;
  height: 522px;
  margin-top: 85px;
  margin-bottom: 0;
  padding-top: 35px;

  background-color: #f4f8f9;
}
.services-heading-wrapper {
  box-sizing: border-box;
  width: 559px;
  min-height: 158px;
  margin-bottom: 16px;
}
.services-heading-wrapper h3 {
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.services-heading-wrapper p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}
.services-controls-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 240px;
}
.services-controls-wrapper::before {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url(../img/line-shadow.png);
  background-repeat: no-repeat;
}
.services-controls-wrapper label {
  margin-bottom: 1px;
  padding: 15px 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 1px 0 0 rgba(41, 52, 73, 1);
}
.services-controls-wrapper label:hover {
  background-color: #293449;
}
.delivery:checked ~ .services-wrapper label[for="delivery"],
.guarantee:checked ~ .services-wrapper label[for="guarantee"],
.credit:checked ~ .services-wrapper label[for="credit"] {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;
}
.delivery:checked ~ .services-wrapper #slide-delivery,
.guarantee:checked ~ .services-wrapper #slide-guarantee,
.credit:checked ~ .services-wrapper #slide-credit {
  display: block;
}
.services-wrapper {
  display: flex;
}
.services-slider-list {
  margin: 0;
  margin-top: 2px;
  margin-left: 80px;
  padding: 0;

  list-style: none;
}
.services-slider-item {
  position: relative;

  box-sizing: border-box;
  width: 620px;
  min-height: 290px;
  margin: 0;
  padding: 0;
}
.services-slider-item:first-child {
  background-image: url(../img/delivery-background.png);
  background-repeat: no-repeat;
  background-position: right 20px;
}
.services-slider-item:nth-child(2) {
  background-image: url(../img/guarantee-background.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.services-slider-item:last-child {
  background-image: url(../img/credit-background.png);
  background-repeat: no-repeat;
  background-position: right -3px;
}
.services-info {
  position: relative;

  margin: 0;
  padding: 0;
}
.services-info h3 {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
}
.services-info p {
  margin-top: 30px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}
.services-info .button-services-credit {
  position: absolute;
  top: 131px;
  left: 0;

  padding: 12px 44px;
}
.main-contacts-info {
  display: flex;
  box-sizing: border-box;
  margin-top: 78px;
  padding-bottom: 85px;
}

.main-contacts-info h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-contacts-info p {
  margin: 0;
  margin-top: 28px;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.main-info {
  width: 540px;
  margin-right: 100px;
}

.main-info .info {
  margin: 0;
  margin-top: 24px;
}

.main-info ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.main-info li {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 35px;
}

.main-info li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.main-info .button-link-info {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin-top: 36px;
  padding: 10px 38px;

  border: 1px solid #ee3643;
  border-radius: 3px;
}

.contacts-map {
  width: 300px;
}

.contacts-map p {
  margin-bottom: 33px;
}

.contacts-map .button-link-contacts {
  box-sizing: border-box;
  height: 38px;
  margin-top: 33px;
  padding: 10px 60px;
}

.main-footer {
  margin: 0;
}

.footer-contacts .container {
  display: flex;
  height: 195px;
  padding: 0;
}

.footer-contacts {
  color: #ffffff;

  background-color: #32425c;
}

.footer-contacts ul {
  list-style: none;
}

.footer-contacts a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}


.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}

.footer-contacts a:active {
  text-decoration: none;

  opacity: 0.5;
}

.logo-address {
  box-sizing: border-box;
  width: 380px;
}

.footer-logo {
  box-sizing: border-box;
  height: 68px;
  margin-bottom: 28px;
  padding: 0;
  padding-top: 20px;

  text-align: center;
}

.footer-logo img {
  width: 136px;
  height: 21px;
  margin: 0;
  padding: 0;
}

.logo-address p {
  padding-right: 50px;
  padding-left: 3px;

  font-size: 18px;
  line-height: 24px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 550px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 0;
}

.footer-nav-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 0;
}

.footer-nav-top a {
  color: #ffffff;
}

.footer-nav-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 25px;
  padding: 0;
}

.footer-nav-bottom a {
  color: #ffd180;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-copyright .container {
  display: flex;
}

.footer-copyright a {
  color: #ffd180;
  text-decoration: none;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

.copyright-info {
  width: 230px;
  margin-top: 36px;
  margin-right: 160px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social a {
  color: #ffffff;

  background-color: #212a3a;
}

.social-button {
  display: block;
  width: 41px;
  height: 41px;
  margin-top: 36px;
  margin-right: 5px;

  border-radius: 50%;
}

.social-button-vk {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: 8px 10px;
}

.social-button-fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 14px 7px;
}

.social-button-inst {
  background-image: url(../img/inst-icon.svg);
  background-repeat: no-repeat;
  background-position: 8px 7px;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  text-decoration: none;

  background-color: #ee3643;
}

.feedback-copyright {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 36px;
  margin-left: auto;
}

.feedback-copyright p {
  margin: 0;
  padding: 0;
}

.feedback-copyright .copyright {
  margin-right: 13px;
}

.modal .modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  border: none;
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  width: 940px;
  height: 446px;
  margin-left: -470px;

  box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-map img {
  width: 100%;
}

.modal-cart {
  position: absolute;
  top: 441px;
  left: 50%;

  display: none;
  box-sizing: border-box;
  width: 620px;
  height: 282px;
  margin-left: -310px;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-cart p {
  position: relative;

  margin-bottom: 67px;
  padding-top: 67px;
  padding-left: 178px;

  font-size: 30px;
  line-height: 30px;
}

.modal-cart p::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url(../img/form-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-cart .button-wrapper {
  display: flex;
}

.modal-cart .modal-checkout {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin-top: 37px;
  margin-right: 20px;
  margin-bottom: 37px;
  margin-left: 80px;
  padding-top: 10px;
  padding-left: 55px;
}

.modal-cart .button-checkout {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin-top: 37px;
  margin-right: 80px;
  margin-bottom: 37px;

  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}

.modal-feedback {
  position: fixed;
  bottom:201px;
  left:50%;

  display: none;
  box-sizing: border-box;
  width: 620px;
  height: 432px;
  margin-left:-310px;
  padding-top: 45px;

  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-feedback .form-wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 460px;
  height: 265px;
  margin-right: 80px;
  margin-left: 80px;


}

.form-wrapper label:first-child {
  margin-right: 177px;
}

.form-wrapper label:last-child {
  margin-right: 160px;
}

.modal-feedback input,
.modal-feedback textarea {
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal-feedback input {
  box-sizing: border-box;
  width: 220px;
  height: 37px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
}

.modal-feedback input:first-of-type {
  margin-right: 20px;
}

.modal-feedback textarea {
  box-sizing: border-box;
  width: 460px;
  height: 113px;
  margin-top: 13px;
  margin-bottom: 37px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;

  resize: none;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border-color: #b5b5b5;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  border-color: #ee3643;
}

.button-wrapper {
  background-color: #f4f4f4;
}

.modal-button {
  width: 460px;
  height: 38px;
  margin: 0;
  margin-top: 37px;
  margin-right: 80px;
  margin-bottom: 37px;
  margin-left: 80px;
  padding: 0;
  padding: 9px 197px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
  border: none;
  border: 1px solid #ee3643;
  border-radius: 3px;
}

/*Inner-page*/
.inner-page {
  margin: 0;
  padding: 0;
}

.inner-page h1 {
  padding: 29px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.authorized-profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.authorized-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 45px;
  margin: 0;
  padding: 0;

  list-style: none;
  list-style: none;
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.authorized-profile a {
  color: #000000;
  text-decoration: none;
}

.authorized-profile a:active {
  opacity: 0.3;
}

.authorized-profile profile:last-child {
  margin-left: auto;
}

.authorized-profile .profile:nth-child(2) {
  width: 210px;
}

.authorized-profile .profile-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
}

.profile-avatar svg {
  margin-top: 14px;
  margin-left: 14px;
}

.authorized-profile .logout-link {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
}

.logout-link svg {
  margin-top: 14px;
  margin-left: 16px;
}

.logout-link path,
.logout-link polygon,
.logout-link:active path,
.logout-link:active polygon,
.profile-avatar path,
.profile-avatar polygon,
.profile-avatar:active path,
.profile-avatar:active polygon {
  fill: #c5c5c5;
}

.logout-link:hover path,
.logout-link:hover polygon,
.logout-link:focus path,
.logout-link:focus polygon,
.profile-avatar:hover path,
.profile-avatar:hover polygon,
.profile-avatar:focus path,
.profile-avatar:focus polygon {
  fill: #32425c;
}

.authorized {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.authorized li {
  margin-top: 9px;
  margin-left: 17px;
}

.authorized li:first-child {
  position: relative;

  padding-right: 16px;
}

.authorized li:first-child::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -5px;

  width: 5px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;
}

.authorized a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.authorized a:hover,
.authorized a:focus {
  color: #ee3643;
}

.authorized a:active {
  color: #32425c;

  opacity: 0.3;
}

.breadcrumbs {
  display: flex;
  align-items: space-between;
  width: 380px;
  height: 20px;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs .home {
  display: block;
  width: 20px;
  margin: 0;
  padding: 0;
  padding-right: 37px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 3px;
}

.breadcrumbs li {
  position: relative;

  padding-right: 37px;
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 18px;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);
}

.breadcrumbs-current {
  padding-right: 0;
}

.catalog-wrapper {
  display: flex;
}

.filters {
  margin: 0;
  padding: 0;
}

.filters-header {
  margin: 0;
  padding: 0;
  padding: 10px 18px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter {
  width: 220px;
  height: 500px;
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter fieldset {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;

  border: none;
}
.filter fieldset:first-child,
.filter fieldset:nth-child(2n) {
  border-bottom: 1px solid #e5e5e5;
}

.filter legend {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}
.range-filter {
  box-sizing: border-box;
  width: 220px;
  padding: 0;
}
.range-controls {
  position: relative;

  box-sizing: border-box;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 2px;
}
.range-controls .scale {
  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}
.toggle {
  position: absolute;
  top: 30px;

  width: 20px;
  height: 23px;

  background-image: url(../img/range--filter-btn.svg);
  background-repeat: no-repeat;
}
.toggle-min {
  left: 20px;
}
.toggle-max {
  right: 40px;
}
.price-controls {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0;
}
.price-controls input {
  position: relative;

  box-sizing: border-box;
  width: 95px;
  height: 38px;
  padding: 0;

  text-align: center;

  background-color: #f7f3ec;
  border: none;
}

.price-controls .price-scale {
  position: absolute;
  top: 18px;
  left: 50%;

  width: 10px;
  height: 1px;
  margin-left: -5px;

  background-color: #444444;
}
.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter li {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  box-sizing: border-box;
  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-image: url(../img/checkbox-off-hover.svg);
}

.filter-input-checkbox:disabled + label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  background-image: url(../img/checkbox-on-hover.svg);
}

.filter-input-checkbox:checked:disabled + label::after {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  box-sizing: border-box;
  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  background-image: url(../img/radio-off-hover.svg);
}

.filter-input-radio:disabled + label::before {
  background-image: url(../img/radio-off-disabled.svg);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  background-image: url(../img/radio-on-hover.svg);
}

.filter-input-radio:checked:disabled + label::after {
  background-image: url(../img/radio-on-disabled.svg);
}

.button-filter {
  width: 140px;
  height: 38px;
  margin: 0;
  margin-top: 45px;

  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.catalog {
  width: 720px;
  margin-bottom: 10px;

  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 700px;
  min-height: 38px;
  margin-left: 20px;

  font-weight: normal;

  background-color: #f7f3ec;
}

.sorting-list,
.sorting-up-down {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-list {
  justify-content: space-between;
  width: 380px;
  margin: 0 20px;
}

.sorting p {
  margin: 0;
  padding-top: 10px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-header {
  box-sizing: border-box;
  width: 220px;
  padding-left: 18px;
}

.sorting-item {
  margin: 0;
  padding: 0;
}

.sorting-item p {
  border-bottom: 1px dotted #ee3643;
}

.sorting-item span {
  opacity: 0.3;
}

.sorting-item:hover span,
.sorting-item:focus span,
.sorting-item:active span {
  opacity: 1;
}

.sorting-item:hover p,
.sorting-item:focus p {
  border-bottom: 1px solid #ee3643;
}

.sorting-item:active p {
  color: #ee3643;

  border: none;
}

.sorting-up-down {
  width: 60px;
  padding-top: 14px;
}

.sorting-up {
  width: 11px;
  height: 10px;
  margin-right: 21px;

  background-image: url(../img/icon-up-sorting.svg);
}

.sorting-down {
  width: 11px;
  height: 10px;

  background-image: url(../img/icon-down-sorting.svg);
}

.sorting-up:hover,
.sorting-up:focus {
  background-image: url(../img/icon-up-sorting-hover.svg);
}

.sorting-up:active {
  background-image: url(../img/icon-up-sorting-active.svg);
}

.sorting-down:hover,
.sorting-down:focus {
  background-image: url(../img/icon-down-sorting-hover.svg);
}

.sorting-down:active {
  background-image: url(../img/icon-down-sorting-active.svg);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  box-sizing: border-box;
  width: 220px;
  height: 318px;
  margin-top: 20px;
  margin-left: 20px;

  border: 1px solid #e5e5e5;
}

.catalog-item img {
  width: 100%;
}

.catalog-list p {
  box-sizing: border-box;
  width: 190px;
  height: 60px;
  margin: 0;
  margin-top: 11px;
  margin-right: 15px;
  margin-left: 13px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.old-price {
  display: block;
  margin-top: 10px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.price {
  position: absolute;
  bottom: 21px;
  left: 41px;

  display: block;
  box-sizing: border-box;
  width: 141px;
  height: 38px;
  padding-top: 9px;
  padding-left: 35px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-image: url(../img/btn.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  text-decoration: none;
}

.catalog-item .item-menu-wrapper {
  display: none;
  box-sizing: border-box;
  width: 218px;
  height: 168px;
  padding-top: 44px;
  padding-left: 42px;
}

.item-menu-wrapper .buy {
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  margin-bottom: 7px;
  padding-top: 10px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 0 rgba(54, 115, 21, 1);
}

.item-menu-wrapper .in-bookmarks {
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  padding-top: 9px;

  text-align: center;
  color: #32425c;
  text-transform: uppercase;

  border: 3px solid #63a63e;
  border-radius: 2px;
}

.catalog-item:hover img,
.catalog-item:focus img {
  display: none;
}
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border:none;
}
.catalog-item:hover .item-menu-wrapper,
.catalog-item:focus .item-menu-wrapper {
  display: block;
}

.item-menu-wrapper .buy:hover,
.item-menu-wrapper .buy:focus {
  background-color: #5fbb2d;
  background-image: url(../img/cart-icon-hover.svg);
}

.item-menu-wrapper .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.item-menu-wrapper .in-bookmarks:hover,
.item-menu-wrapper .in-bookmarks:focus {
  border-color: #32425c;
}

.item-menu-wrapper .in-bookmarks:active {
  opacity: 0.3;
}

.new-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  width: 60px;
  height: 59px;
  overflow: hidden;

  text-indent: -1000px;

  background-color: transparent;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
}

.pagination-list {
  display: flex;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  padding-top: 52px;
  padding-bottom: 60px;

  list-style: none;
}

.pagination-item {
  box-sizing: border-box;
  min-width: 38px;
  height: 38px;
  margin-right: 10px;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;

  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}
.pagination-list .next-page {

  padding-right: 30px;
  padding-left: 30px;
}
.pagination-item:hover,
.pagination-item:focus {
  border-color: #bdc6ca;
}
.pagination-item:active {
  border-color: #ee3643;
}
.inner-info {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 35px;

  background-color: #f2f6f8;
}

.inner-info h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  font-size: 30px;
  line-height: 30px;
}

.inner-info p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}
